<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="model by packages">
  <test verbose="2" name="com.effectivemaven.centrepoint.model" annotations="JDK">
    <packages>
      <package name="com.effectivemaven.centrepoint.model"/>
      <package name="com.effectivemaven.centrepoint.model.plugin"/>
    </packages>
  </test>
</suite>
